{% extends 'tepsite/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Team Work  {% endblock %}

{% block body %}



<div class="questionairee">
<form action="{% url 'tepsite:together_win_self_assessment' %}" method="POST">
  {% csrf_token %}
  <fieldset class="form-group">
      <legend class="center">Team Work</legend>
      {{ eepsite|crispy }}
  </fieldset>
  <div class="form-group">
      <button class="btn btn-primary btn-lg btn-block"type="submit">Submit </button>
  </div>
  </form>
  </div>


{% endblock %}
